<h3><%= @list.name %></h3>

<h2> List Items </h2>

<%@items.each do |item| %>
  <p><%="#{item.name}"%></p>
<%end%>
<hr>
<hr>
<div class="container">
  <h2> Enter New Item </h2>
 <%= render partial: "items/form", locals: {list: @list, item: @item} %>
</div>
<hr>