<h3><%= @list.name %></h3>
<div class="col-md-4 pull-right">
  <%= link_to "Delete List", @list, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this list?' } %>
</div>
 